body, html {
  margin: 0%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: url(https://images.unsplash.com/photo-1529078155058-5d716f45d604?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
}
.Headcontainer {
  background-color: black;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem grey;
  border-bottom: solid 2px #e6e6e6;
  color: #ffffff99;
  padding: 1px;
  text-align: center;
  font-size: 15px;
}
.Footcontainer {
  background-color: black;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem grey;
  border-top: solid 2px #e6e6e6;
  color: #ffffff99;
  position: fixed;
  padding: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}